body > table{
    width: 80%;
}
html{
    background-color: #94a487;
}
h1{
background-color: #f4f2f2;
text-align: center;
font-size: larger;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #ca2828;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(86, 45, 219);
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 30%;
    background-color: rgb(42, 202, 53);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.create-page{
    position: absolute;
    min-width: 100px;
    left: 5%;
    bottom: 400px;
    transform: translate(-50%, 0);
    padding: 10px 15px;
    background-color: #7141eb;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: small;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}
.back-indexpage{
    position: absolute;
    min-width: 80px;
    left: 5%;
    bottom: 225px;
    transform: translate(-50%, 0);
    padding: 10px 15px;
    background-color: #edf40f;
    border: none;
    color: #0b0a0a;
    text-transform: uppercase;
    font-size: small;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}
form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(44, 38, 220);
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}